:root {
  --main-position: center;
}

.logo {
  max-width: 50px;
}

.bg-body-tertiary {
  background-color: #091a36 !important;
}

.navbar-toggler {
  background-color: #f5f5f5 !important;
}

h1 {
  text-align: var(--main-position);
  font-size: 40px;
}

h2 {
  text-align: var(--main-position);
  font-size: 20px;
}

h3 {
  text-align: var(--main-position);
  font-size: 20px;
}

.header {
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.start {
  background-color: #091a36;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.she-Codes-Icon {
  display: block;
  margin: 0 auto;
}

.SheCodes-intro {
  margin: 20px 10%;
  text-align: center;
}

.check-out {
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
}

.check-out-link {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #091a36;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.mail-link {
  text-decoration: none;
  margin: 5px;
}

.email {
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 5px;
  border-color: #091a36;
}

.git-hub-icon {
  display: block;
  margin: 0 auto;
  background-color: #091a36;
}

.git-hub-link {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.go-back {
  font-weight: bold;
}

.go-back-link {
  text-decoration: none;
  color: black;
}

.project-header {
  font-size: large;
  font-weight: bold;
}

button {
  background-color: #091a36 !important;
}

button:hover {
  opacity: 0.8;
  border: black;
}

.image {
  display: flex;
  justify-content: center;
}

.container-portfolio .col-12 > div {
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
}

.container-portfolio .row {
  margin: 16px;
}
